# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# Django stuff
*.pot
*.pyc
db.sqlite3
/media/
staticfiles/
*.log

# macOS / Windows
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

migrations
*/migrations/
